@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
html,
body {
  height: 100%
}
@media only screen and (max-width:760px),
(min-device-width:802px)and(max-device-width:1020px){
table,thead,tbody,th,td,tr{
    display: block;
}
.empty{
    display: none;
}
th{
    position: absolute;
    top: -9999px;
    left: -9999px;
}
tr{
    border: 1px solid #ccc;
}
td{
    border:none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
}
td:nth-of-type(1):before{
    content: "Zo";

}
td:nth-of-type(2):before{
    content: "Ma";

}
td:nth-of-type(3):before{
    content: "Di";

}
td:nth-of-type(4):before{
    content: "Woe";

}
td:nth-of-type(5):before{
    content: "Don";

}
td:nth-of-type(6):before{
    content: "Vrij";

}
td:nth-of-type(7):before{
    content: "Zat";

}
}

/* smartphones porttrait en landscape */
@media only screen and (max-width:320px) and (max-device-width:480px){
    body{
       padding: 0;
       margin: 0;
    }
}

/* Ipads */
@media only screen and (max-width:802px) and (max-device-width:1020px){
    body{
       width: 495px;
    }
}

@media(max-width:641px){
    tbody{
        width: 397px;
    }
    .table{
        width: 86% !important;
    }
    table{
       table-layout: fixed;
    }

    td{
        width: 100%;
    }
    .bt{
         width: 46%;
    }

}

.row{
    margin-top: 20px;
}

table{
    table-layout: fixed;
}



.today{
    background: orange;
}
.error{
    color:red;
}

.notAvailable{
    color: red;
}

.available{
    color:green;
}